@font-face {
    font-family: 'Montserrat';
    src: url('./Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('./SourceHanSansCN-Heavy.otf');
    font-weight: bolder;
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('./SourceHanSansCN-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('./SourceHanSansCN-Medium.otf');
    font-weight: 600;
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('./SourceHanSansCN-Regular.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'SourceHanSansCN';
    src: url('./SourceHanSansCN-Normal.otf');
    font-weight: normal;
}
